<!DOCTYPE html>
<html>
  <head>
    <title>Original</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-bar">
        <hi class="title">買い物リスト</hi>
        <div class="add">
          <a href="/" class="add-btn">追加する</a>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>買い物リスト</p>
    </footer>
  </body>
</html>
